* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: hotpink;

    display: grid;
    grid-template-rows: 10% repeat(9, 7%);
    color: white;
}

.sidebar div:not(:first-child) {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-left: 30px;
    gap: 20px;
    align-items: center;
    justify-self: flex-start;
}

.dashboard-label {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding-left: 20px;
}

.dashboard-label img {
    width: 65px;
}

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: white;

    display: grid;
    grid-template: 1fr 2fr / 60% 40%;
    padding-left: 5%;
    margin-top: 25px;
    box-shadow: 0 8px 10px -10px gray;
    z-index: 1;
}

.search-area {
    grid-column: 1/2;

    display: grid;
    grid-template-columns: 5% 95%;
    align-items: center;
    justify-items: start;
    gap: 10px;
}

.magnify-icon {
    width: 32px;   
}

.search-input {
    width: 90%;
    border-radius: 18px;
    height: 2.5rem;
    border: none;
    background-color: rgb(235, 231, 231);
}

.profile-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 20%;
}

.bell-icon {
    width: 25px;
}

.small-avatar {
    width: 45px;
}

.profile-name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.greeting-area {
    grid-column: 1/2;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
}

.greeting-message {
    font-weight: bold;
}

.greeting-message .user-handle {
    font-size: 26px;
}

.big-avatar {
    width: 65px;
}

.menu-buttons-area {
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 10%;
}

.menu-buttons-area button {
    width: 125px;
    height: 55px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: hotpink;
    border-radius: 25px;
}

.main-content {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: pink;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 3fr 2fr;
    padding: 20px; 
}

.projects-container {
    grid-row: 1/4;
    grid-column: 1/3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 4fr 4fr 1fr;
}

.projects-container h2 {
    align-self: center;
}

.projects {
    grid-row: 2/5;
    grid-column: 1/3;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.card {
    display: grid;
    border-radius: 10px;
    border-left: 10px solid hotpink;
    padding: 25px 20px;
    background-color: white;
    grid-template-rows: 10% 50% 40%;
    gap: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card p {
    color: rgba(0, 0, 0, 0.788);
}

.card-buttons-container {
    grid-row: 3/4;

    display: grid;
    justify-content: flex-end; 
}

.card-buttons-container img {
    width: 30px;
    margin: 0 10px;
}

.announcements-trending-container {
    grid-row: 1/4;
    grid-column: 3/4;
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin-left: 20px;
}

.announcements {
    grid-row: 1/2;

    display: grid;
    grid-template-rows: 14% 86%;
}

.announcements h2 {
    align-self: center;
}

.announcement-card {
    grid-row: 2/3;
    background-color: white;
    border-radius: 10px;
    padding: 30px 30px 60px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: rgba(0, 0, 0, 0.788);
}

.announcement:not(:first-child) {
    padding-top: 15px;
}

.announcement:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.trending {
    grid-row: 2/3;

    display: grid;
    grid-template-rows: 10% 78%;  
}

.trending h2 {
    align-self: center;
    margin-top: 5px;
}

.trending-card {
    grid-row: 2/3;

    display: grid;
    grid-template-rows: repeat(auto-fit, 25%);
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-trend {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
}

.user-trend img {
    width: 50px;
}






